* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1a1a1a;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.header-home {
  display: flex;
  justify-content: center;
  color: whitesmoke;
  gap: 56px;
  padding: 32px 16px;
  transition: padding .7s ease;
  top: 0;
  width: 100%;
}


@media (max-width: 1000px) {
  .header-home {
    gap: 20px;
  }
}

.header-home a {
  font-size: 14px;
  transition: color 1s ease;
}

.fix {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10;
  background-color: #121212;
  transition: background-color 0.5s ease;
}

.hover:hover {
  transition: padding .3s ease;
  background-color: #9846eb;
  padding: 5px 10px;
}

.container {
  width: 80%;
  height: 100vh;
  margin: 0 auto;
}

.header {
  margin-top: 80px;
  width: 100%;
  height: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1000px) {
  .header {
    display: flex;
    flex-direction: column;
  }
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.header h1 {
  font-size: 80px;
}

@media (max-width: 768px) {
  .header h1 {
    font-size: 40px;
  }
}

.header p {
  font-size: 40px;
  color: gray;
}

@media (max-width: 768px) {
  .header p {
    font-size: 20px;
  }
}

/* ------------------------- FIN HEADER ---------------------------------*/
/* ------------------------- SCROLL --------------------------------------*/
  
  .fix.sticky {
    background-color: #f5f5f5cb;
  }

  .fix.sticky > .header-home{
    padding: 10px 16px;        
  }
  .fix.sticky > .header-home a{
    color: black;     
  }
  .fix.sticky > .header-home > .hover:hover a{
    color: white;     
  }
  .fix.sticky > .header-home > .hover:hover{
    background-color: #4c4654;   

  } 

/* ------------------------- FIN SCROLL -----------------------------------*/

.name span {
  color: #a24af9;
}

.logo-header{
  position: relative;
  display: inline-block;
}

.logo-header:hover .hover-img{
  opacity: 1;
}

.hover-text {
  opacity: .3;
  font-size: 40px;
}

.logo-header img {
  width: 300px;
  height: auto;
  display: flex;
  flex-direction: row;
  margin: 30px auto;
  border-radius: 50%;
  margin-top: 50px;
}

@media (max-width: 768px) {
  .logo-header img {
    width: 150px;
    justify-content: center;
    align-items: center;
  }
}

.social {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.icons {
  font-size: 48px;
  margin: 20px;
  transition: color .3s ease, transform .3s ease;
}

.icons:hover {
  color: rebeccapurple;
  transform: scale(1.2);
}

@media (max-width: 768px) {
  .icons {
    font-size: 40px;
  }
}

a {
  color: #fff;
  text-decoration: none;
}

/* ------------------------------------------------------------------------------------------------- */

.proyects-container {
  max-width: 80%;
  height: 100%;
  justify-content: center;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1;
  /* Columna única por defecto */
  grid-gap: 32px;
  /* Espacio entre las columnas */
}

@media (min-width: 1120px) {
  .proyects-container {
    grid-template-columns: repeat(2, 1fr);
    /* Tres columnas del mismo tamaño */
  }
}

.text-proyect {
  text-align: center;
  padding: 100px 0;
}

@media (max-width: 678px) {
  .text-proyect h1 {
    font-size: 20px;
  }
}

.proyects-container {
  margin-bottom: 100px;
}


/* ------------------------------- HOVER NOMBRE --------------------------------------- */


.image-container {
  position: relative;
  display: inline-block;
}

.overlay-button {
  padding: 10px 20px;
  background-color: #8028a9;
  color: white;
  text-align: center;
  text-decoration: none;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 25px;
}

@media (max-width: 678px) {
  .overlay-button {
    font-size: 15px;
  }
}

.overlay-button a {
  text-decoration: none;
  color: white;
}

.overlay-button i {
  color: black;
  margin-right: 10px;
}

.tecnologies {
  font-size: 24px;
}

@media (max-width: 678px) {
  .tecnologies {
    font-size: 20px;
  }
}

.image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #4d0897a9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  opacity: 0;
  transition: opacity 0.8s ease;
}

.overlay-text {
  color: white;
  font-size: 25px;
  text-align: center;
}

@media (max-width: 678px) {
  .overlay-text {
    font-size: 15px;
  }
}

.image-container:hover .image-overlay {
  opacity: 1;
  box-shadow: 1px 1px 3px gray;
}

.codepage{
  display: flex;
  flex-direction: row;
  gap: 32px;
}

.hidden {
  display: none;
}


/* --------------------------------- FIN HOVER -------------------------------------------*/

/* ------------------------------- BOTON MOSTRAR ----------------------------------------- */

.btn-mostrar {
  margin-bottom: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.btn-mostrar button {
  border: none;
}

#mostrar-img {
  padding: 15px 25px;
  background-color: #501384;
  opacity: .8;
  color: white;
  cursor: pointer;
  font-size: 15px;
}

#mostrar-i {
  margin-left: 10px;
}


/* ----------------------------- FIN BOTON MOSTRAR ----------------------------------------- */
img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

/* -------------------------------- ABOUT --------------------------------------------------------- */
.about {
  width: 100%;
  height: 100%;
  text-align:left;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 100px;
}

@media (max-width: 1000px) {
  .about {
    font-size: 12px;
  }
}

@media (max-width: 678px) {
  .about {
    font-size: 7px;
  }
}

#languaje {
  max-width: 75ch;
}

.tecnologies-about {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 100px;
  padding-bottom: 100px;
  gap: 32px;
}

@media (max-width: 678px) {
  .tecnologies-about {
    font-size: 30px;
  }
}

/* ---------------------------------- FIN ABOUT ------------------------------------------------------- */

/* ----------------------------------- SWITCH -------------------------------------------------------------*/

.switch{
  background: linear-gradient(blue,white, red);
  border-radius: 25px;
  border: none;
  position: relative;
  cursor: pointer;
  display: flex;
  outline: none; 
  gap: 5px;
}

.switch::after{
  content: "";
  display: block;
  width: 33px;
  height: 33px;
  position: absolute;
  background: white;
  top: 0px;
  left: 1px;
  right:unset;
  border-radius: 50%;
  transition: .3s ease all;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, .2);
  font-size: 2.2rem;
}

@media (max-width: 678px) {
  .switch::after {
    width: 23px;
    height: 23px;
  }
}

.switch.active{
  background: linear-gradient(red, orange);
  color: #000;
}

.switch.active::after{
  right: 1px; 
  left: unset;
}

.switch span{
  width: 28px;
  height: 28px;
  line-height: 30px;
  display: block;
  background: none;
  color: white;
}



.aling{
  display: flex;
  text-align: center;
  justify-content: space-around;
  align-items: center;
  padding: 2rem;
}

.text-about {
  font-size: 70px;
  color: #9846eb;
}
@media(min-width:768px){
  .aling{
      text-align: left;
      padding: 4rem;
  }

}
@media(max-width:678px){
  .aling h1{
      font-size: 20px;
  }

}



/* --------------------------------- FIN SWITCH ----------------------------------------------------------------*/
/* --------------------------------- Carrousel ----------------------------------------------------------------*/
#certifications {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#certifications h1 {
  margin: 100px 0;
  font-size: 70px;
  color: #9846eb;
}

.contenedor-slider {
  width: 700px;
  max-height: 500px;
  margin: 0 auto;
  padding: 150px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.slider-izq, .slider-der {
  font-size: 60px;
  cursor: pointer;
  transition: font-size .3s ease, transform .3s ease;
}
.slider-izq:hover, .slider-der:hover {
  font-size: 70px;
}
.slider-der:hover {
  transform: translate(15px);
}
.slider-izq:hover {
  transform: translate(-15px);
}

.screen-slider {
  width: 100%;
  object-fit: contain;
}

@media (max-width: 900px) {
  .contenedor-slider {
    width: 600px;
    padding: 50px 0;
  }
  #certifications h1 {
    font-size: 40px;
    margin: 20px 0;
  }
}

@media (max-width: 768px) {
  .contenedor-slider {
    width: 500px;
  }
}

@media (max-width: 500px) {
  
  .contenedor-slider {
    width: 100%;
  }
  .slider-izq, .slider-der {
    font-size: 20px;
  }
  .slider-izq:hover, .slider-der:hover {
    font-size: 20px;
    transform: translate(0);
  }

}
/* ---------------------------------- FIN CAROUSEL ------------------------------------------------- */



